[unit]
Description=uWSGI instance to serve app
After=network.target

[service]
User=root
Group=www-data
WorkingDirectory=/home/pi/rpi_lightserver
ExecStart=/home/pi/rpi_lightserver --ini app.ini

[install]
WantedBy=multi-user.target
