.topnav {
  background-color: #333;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a, .topnav button {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover, .dropd:hover .dropb {
  background-color: #ddd;
  color: black;
}
.topnav a.current {
  background-color: #db1a1a;
  color: white;
}
.current {
  background-color: #db1a1a;
  color: white;
}
.card {
  background-color: white;
  border:3px solid #333;
  border-radius: 10px;
  padding: 20px;
}
.error {
  color: black;
  background-color: #FFCCCC;
  padding: 20px;
  border-radius: 10px;
}
.info,.message {
    color: black;
    background-color: #7dcb5f;
    padding: 20px;
    border-radius: 10px;
}

body {
  background-color: #f1f1f1;
  font-family: Arial;
}
.c {
  width:75%;
  margin:auto;
}
h1 {
  text-align: center;
  font-weight: bold;
}
h2,h3,h6 {
  text-align: center;
}
.regimage {
  height:200px;
  width:400px;
  display: block;
  margin-left:auto;
  margin-right:auto;
}
.splitimage {
  height:100;
  width:100;
  display:block;

}
.preview {
  padding:20px;
  background-color:white;
  border:3px solid #333;
  border-radius: 10px;
}
.preview img {
  float:left;
  margin-right:20px;
  height:100px;
  width:180px;

}
.preview span {
  font-size:20px;
  margin-right: 15px;
}
.noa {
  color: black;
  text-decoration:none;
}

/* here */
.dropd {
  font-size: 17px;
  float: left;
  overflow: hidden;
}

.dropd .dropb {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/*.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}*/

.dropc {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropc a {
  float: none;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropc a:hover {
  background-color: #ddd;
  color:black;
}

.dropd:hover .dropc {
  display: block;
}
input {
  padding:10px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);

}
form {
  text-align: center;
  margin:auto;
  width:50%;
  border:3px solid #333;
  border-radius: 10px;
}
form input {
  width:50%;
}
/* input[type="text"] {
  width:50%;
} */
.control_button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
.control_button:hover {
  background: #db1a1a;
}