{% extends 'base.html' %}

{% block content %}
    <div class = 'card'>
        <h4>Accounts :</h4><br>
        {% for user in users %}
            UID:{{user.id}}, Name:{{user.name}}, Email: {{user.email}}
            <a href = "/admin/user/{{user.id}}"> Delete user </a><br>
        {% endfor %}
    </div><br>
    <div class = "card">
        <h4>Pages: </h4><br>
        {% for page in getPosts()%}
            {{page.title}}
            <a href = "/admin/post/{{page.id}}"> Delete page </a><br>
        {% endfor %}
    </div><br>

{% endblock %}
