{% extends 'base.html' %}

{% block content %}
        <form method = "POST" enctype = "multipart/form-data">
            <select name ='date'>
                <option label=" "> </option>
                {% for x in options %}
                <option value = "{{x[0]}}, {{x[1]}}, {{x[2]}}">{{x}}</option>
                {% endfor %}
            </select>
            <input type = "submit" value = "Search"/>
        </form> <br>
        {{current}}
        <br>
        <div class = 'card'>
            {{body|safe}}
        </div>
{% endblock %}
