<!doctype html>
<html>
    <head>
        <title> {{title}} </title>
        <link rel="stylesheet" href ="{{ url_for('static', filename='style.css')}}">
        <link rel="shortcut icon" type="image/png" href = "/static/favicon.png"/>
    </head>
    <body>
        <header>
            {% include 'nav.html' %}
        </header>
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                    {% for category,message in messages %}
                        <div class = {{ category }}>
                        {{message}}<br></div>
                    {% endfor %}
                <br>
            {% endif %}
        {% endwith %}
        <div class="c">
          {% block content %}{% endblock %}
        </div>
    </body>
</html>
