{% if current_user.id == 4 %}
<div class = 'dropd'>
    <button class = 'dropb'>Admin Pages</button>
    <div class = 'dropc'>
        <a href="/admin"{% if request.path == '/admin'%} class = 'current'{% endif %}>admin</a>
        <a href= "/create">Create </a>
        <a href='/control'>Controller</a>
        <a href='/vid'>Camera View</a>
        <a href="/files">Access files</a>
    </div>
</div>

{% else %}
<a href="/admin"{% if request.path == '/admin'%} class = 'current'{% endif %}>admin</a>
{% endif %}
