{% extends 'base.html' %}

{% block content %}
        <form method = "POST" enctype = "multipart/form-data">
            <input type = "text" name = "email" placeholder="Email Address" /><br>
            <input type = "password" name = "password" placeholder="Password" /><br>
            <input type = "password" name = "password2" placeholder="Confirm Password" /><br>
            <input type = "text" name = 'name'  placeholder="Name" /><br>
            <input type = "submit" value = "register"/>
        </form>
{% endblock %}
