{% extends 'base.html' %}

{% block content %}
<div class="card">
<div>
<h3> Ethan Smith </h3>
</div>
<b>Contact Information</b><br>
<a href="mailto:ethan@esmithy.net">ethan@esmithy.net</a><br>
Cedar City, UT <br>

<h3> Technical Work Experience </h3>
<b> Information Security Analyst, Southern Utah University	</b>(Apr 2018 - present)

Currently working for SUU in the InfoSec department, completing projects like:
  <ul>
    <li>Evaluating security tools for use in our environment.</li>
    <li>Analyzing logs from campus networks and labs, looking for malicious activity. </li>
    <li>Writing custom tools to fulfill specific needs for the department. </li>
    <li>Writing tools to automate work, and decrease the workload on our team. </li>
    <li>Maintaining and using past projects.</li>
  </ul>
<b> Contractor, ProdataKey		</b>				(Jun 2014 - Aug 2014)

Worked as a contractor for a security start-up called ProdataKey. Helped build a relay server for controlling remote security systems using Node.js.

<h3> Other Work Experience </h3>
  <ul>
    <li>Sweets Baker Great Harvest Bread Co (Apr 2016- Aug 2017) - Helped make and knead dough, baked bread, prepared cafe food, provided front-counter customer service.<br></li>
    <li>Kitchen Supervisor Trafalga Fun Center (Feb 2015- Sept 2015) - Oversaw food production area employees, helped prepare food, and assisted guests.<br></li>
    <li>Crew Trainer McDonalds (Mar 2013 - Dec 2014) - Served Customers, took orders, operated cash registers and prepared food.<br></li>
  </ul>
<h3> Education </h3>
<b>Southern Utah University</b>					(Aug 2017 - Apr 2022)

Degree program: B.S. Computer Science
  <ul>
    <li>SUU Cyber Defense Competition Club Vice President (2018-2020) President (2020-2021)</li>
    <li>Competition team member NIATEC Invitational Collegiate Cyber Defense Competition</li>
    <li>Competition team member Rocky Mountain Collegiate Cyber Defense Competition</li>
    <li>Attended SaintCon Security Conference (2018, 2019, 2022)</li>
  </ul>
<b>Brigham Young University - Idaho</b>				(Sep 2015 - May 2016)

Degree program: A.S. Computer Information Technology

<h3> Special Skills and Technologies </h3>
  <ul>
    <li>Proficient with Python, Java, VMware VMs, Docker containers, Linux/Unix, and Flask</li>
    <li>Experienced with Javascript, PHP, Node.js, Bash, The Elastic Stack, uWSGI, NGINX, Django, and Apache</li>
    <li>Familiar with C/C++, HTML, CSS, YAML, SQL, Redis</li>
    <li>Studied and implemented various algorithms and data structures.</li>
    <li>Fast learner, able to pick up and use new tools/techs quickly and easily</li>
  </ul>
<h3> Personal Projects </h3>
  <ul>
    <li>Light controller server: Custom Python(Flask) web application to control light. (that's this site) </li>
    <li>Alexa skill: Amazon Alexa skill to work with Light Control server, for voice activation.</li>
    <li>Wordle solver: Python application tries to guess a 5 letter word in 6 guesses.</li>
    <li>D&D spell slot tracker:  Django web app to track spell slot usage in TTRPGs</li>
    <li>Discord Music Bot: Node.js bot that uses the discord API to play music in a group call.</li>
  </ul>
</div>
{% endblock %}
