{% extends 'base.html' %}

{% block content %}
        Username : {{current_user.name}} <br>
        Email : {{current_user.email}} <br>
        <form method = "POST" enctype = "multipart/form-data">
            <input type = "text" name = "username" /> Change username<br><br>
            <input type = "password" name = "password" /> Change password<br>
            <input type = "password" name = 'password2'/> Confirm new password<br><br>
            <input type = "text" name = "email" /> Change email<br>
            <input type = "submit" /> Submit
        </form>
{% endblock %}
