{% extends 'base.html' %}

{% block content %}
<h3> User Management </h3>
        <form method = "POST" enctype = "multipart/form-data">
            <br>Current Username : {{current_user.name}} <br>
            <input type = "text" name = "username" placeholder=" Change username"/> <br><br>
            <input type = "password" name = "password" placeholder=" Change password"/> <br>
            <input type = "password" name = 'password2'placeholder=" Confirm new password"/> <br><br>
            Current Email : {{current_user.email}} <br>
            <input type = "text" name = "email" placeholder=" Change email"/><br>
            <input type = "submit" value ="Update Values"/>
        </form>
{% endblock %}
